{case value="city"}
	{php}
        $importCity = 1;
        $json_city_detail=json_decode($field['value'],true);
    {/php}
    <div class="form-group item_{$field.name} {$field.extra_class}">
        <label for="{$field.name}" class="col-md-3 control-label">{present name="field.confirm"}{eq name="field.confirm" value="required"}<sup>*</sup>{/eq}{/present}{$field.title}</label>
        <div class="col-md-6">
            <div class="citys_field">
                <select name="province"></select>
                <select name="city"></select>
                <select name="area"></select>
            </div>
	        <div>
             <input type="text" class="form-control" name="{$field.name}_detail" id="{$field.name}_detail" value="{$json_city_detail.detail}" placeholder="填写详细地址" {$field.extra_attr}>   
            </div>
            <input type="hidden" name="{$field.name}" id="{$field.name}" value='{$field.value}'>
	        {notempty name="field.description"}<p class="help-block"><i class="fa fa-info-circle color-info1"></i> {$field.description}</p>{/notempty}
        </div>
        <script type="text/javascript">
        $('.citys_field').citys({province:'{$json_city_detail.province}',city:'{$json_city_detail.city}',area:'{$json_city_detail.area}',onChange:function(data){
                var json_city_detail;
                var city_detail=$("#{$field.name}_detail").val();
                json_city_detail='{"province":"'+data.province+'","city":"'+data.city+'","area":"'+data.area+'","detail":"'+city_detail+'"}';
                $("#{$field.name}").val(json_city_detail);
        }});
        //更新地址详情时更新JSON
          jQuery("#{$field.name}_detail").bind('change focus blur', function(){
            var city_detail = jQuery(this).val();
            var json_city_detail=$("#{$field.name}").val();//当前json
            var data=$.parseJSON(json_city_detail);

            json_city_detail='{"province":"'+data.province+'","city":"'+data.city+'","area":"'+data.area+'","detail":"'+city_detail+'"}';
            $("#{$field.name}").val(json_city_detail);
          });

        </script>
    </div>

{/case}