{include file="$_admin_document_header_"/}
{block name="style"}{/block}
<body class="hold-transition skin-blue" style="background-color:#ecf0f5;">
<div class="iframe-wrapper">
    <section class="content-header">
        <!-- 面包屑导航 -->
         <ol class="breadcrumb">
          <li><a href="#"><i class="fa fa-dashboard"></i> <a href="{:url('admin/dashboard/index')}" class="opentab" tab-title='首页' data-iframe="true" tab-name="navtab-collapse-1">首页</a></a></li>
          {notempty name="parent_menu_list"}
            {volist name="parent_menu_list" id="vo"}
                <li class="text-muted">{$vo.title}</li>
            {/volist}
          {else/}
            <li class="active">{$meta_title} <span class="color-warning eacoo-menu-collect" data-title="{$meta_title}" data-url="{$Request.url}" title="标记为收藏" style="cursor: pointer;font-size: 13px;"> <i class="fa {eq name="is_menu_collected" value="1"}fa-star{else/}fa-star-o{/eq}"></i></span></li>
          {/notempty}
          <div class="pull-right mr-10">
            {present name="page_config.self"}{$page_config.self}{/present}
              {present name="page_config.help"}<a href="{$page_config.help|default=''}" class="color-6" title="帮助" target="_blank"><i class="fa fa-question-circle f15"></i></a>{/present}
              {present name="page_config.back"}<button type="button" class="btn btn-box-tool f16" onclick="javascript:history.go(-1);"><i class="fa fa-reply"></i></button>{/present}
              <button type="button" class="btn btn-box-tool f16" onclick="javascript:location.reload();"><i class="fa fa-refresh"></i></button>
          </div>
        </ol>
     </section>
     <!--内容-->
     <section class="content">
         {php}if(isset($page_config['disable_panel']) && $page_config['disable_panel']===true){ {/php}
            {block name="main-top"}{/block}
            {block name="main"}{/block}
         {php} }else{ {/php}
          <div class="box box-solid eacoo-box">
            {present name="show_box_header"}
              {eq name="show_box_header" value="1"}
                  <div class="box-header with-border">
                    <h3 class="box-title">{$meta_title}</h3>  {present name="page_config.help"}<a href="{$page_config.help|default=''}" class="color-6" title="帮助" target="_blank"><i class="fa fa-question-circle f15"></i></a>{/present}
                    <div class="box-tools pull-right">{present name="page_config.self"}{$page_config.self}{/present}</div>
                    {notempty name="tips"}<p class="f12 color-6 pt-5">提示：{$tips|default=""}</p>{/notempty}
                      
                  </div>
              {/eq}
            {/present}
            <!-- Tab导航 -->
            {notempty name="tab_nav"}
                <div class="box-body pb-0">
                    <div class="eacoo-tabs">
                        <div class="">
                            <ul class="nav nav-tabs">
                                {volist name="tab_nav.tab_list" id="tab"}
                                    <li class="{php}if($tab_nav['current'] == $key) echo 'active';{/php}"><a href="{$tab.href}" {$tab.extra_attr|default=''}>{$tab.title}</a></li>
                                {/volist}
                            </ul>
                        </div>
                    </div>
                </div>
            {/notempty}
            {block name="main-top"}{/block}
              <div class="box-body">
                {block name="main"}{/block}
              </div>
          </div>
         {php}}{/php}
    </section>

</div>
<script type="text/javascript" src="__PUBLIC__/js/bootstrap.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/jquery.cookie.js"></script>

<!-- Slimscroll -->
<script src="__LIBS__/slimscroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script type="text/javascript" src="__LIBS__/fastclick/fastclick.min.js"></script>
<script type="text/javascript" src="__ADMIN_JS__/app.min.js" ></script>
<!-- <script  type="text/javascript" src="__PUBLIC__/js/jquery.nestable.js"></script> -->
<script  type="text/javascript" src="__LIBS__/nice-validator/jquery.validator.min.js?local=zh-CN"></script>
<!-- <script type="text/javascript" src="__PUBLIC__/js/think.js"></script> -->
<script type="text/javascript" src="__LIBS__/layer/layer.js"></script>

<script type="text/javascript" src="__LIBS__/iCheck/icheck.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/jquery.toaster.js"></script>
<script type="text/javascript" src="__ADMIN_JS__/common.js?v={:EACOOPHP_V}" ></script>
<script type="text/javascript" src="__ADMIN_JS__/eacoo.js?v={:EACOOPHP_V}" ></script>
<script type="text/javascript" src="__ADMIN_JS__/base.js?v={:EACOOPHP_V}" ></script>
{block name="script"}{/block}
</body>
</html>