   {block name="style"}{/block}
   <section class="content-header">
      <!-- 面包屑导航 -->
       <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> <a href="{:url('dashboard/index')}">首页</a></a></li>
        {notempty name="parent_menu_list"}
          {volist name="parent_menu_list" id="vo"}
              <li class="text-muted">{$vo.title}</li>
          {/volist}
        {else/}
          <li class="active">{$meta_title}</li>
        {/notempty}
      </ol>
   </section>
   <!--内容-->
   <section class="content">
       {php}if(isset($hide_panel) && $hide_panel===true){ {/php}
            {block name="main"}{/block}
       {php} }else{ {/php}
            <div class="box box-info">
                <div class="box-header with-border">
                      <h3 class="box-title">{$meta_title}</h3>
                      <div class="box-tools pull-right">
                      <button type="button" class="btn btn-box-tool f16" onclick="javascript:location.reload();"><i class="fa fa-refresh"></i></button>
                    </div>
                </div>
                <div class="box-body">
                  {block name="main"}{/block}
                </div>
            </div>
           {php}}{/php}
      </section>
      
{block name="script"}{/block}