<!-- /.content-wrapper -->
  <footer class="main-footer">
    
    <strong>Copyright &copy; 2017-2018 <a href="http://www.eacoo123.com" target="_blank">EacooPHP</a>.</strong> 保留所有权利。
    <div class="pull-right hidden-xs">
      <b>Version</b> {:EACOOPHP_V}{neq name="accredit_status" value="yes"}<a class="text-warning" href="http://www.eacoo123.com/pricing">[未授权]</a>{/neq}
    </div>
  </footer>
 <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->
<div id="loading" style="top: 150px;">
    <div class="lbk"></div>
    <div class="lcont"><img src="__PUBLIC__/img/loading.gif" alt="loading...">正在加载...</div>
</div>

<script type="text/javascript" src="__PUBLIC__/js/bootstrap.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/jquery.cookie.js"></script>

<!-- Slimscroll -->
<script src="__LIBS__/slimscroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script type="text/javascript" src="__LIBS__/fastclick/fastclick.min.js"></script>
<script type="text/javascript" src="__ADMIN_JS__/app.min.js" ></script>
<script type="text/javascript" src="__ADMIN_JS__/layout.js" ></script>
<!-- <script type="text/javascript" src="__PUBLIC__/js/think.js"></script> -->
<script type="text/javascript" src="__LIBS__/layer/layer.js"></script>
<script type="text/javascript" src="__LIBS__/artTemplate/template.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/jquery.toaster.js"></script>

<script type="text/javascript" src="__ADMIN_JS__/common.js?v={:EACOOPHP_V}" ></script>
<script type="text/javascript" src="__ADMIN_JS__/eacoo.js?v={:EACOOPHP_V}" ></script>

<script type="text/javascript">
$(function(){
  {present name="eacoo_version"}
  //检测新版本
    layer.confirm('发现了新版本V{$eacoo_version.version}。点击查看<a href="http://forum.eacoo123.com/t/updating">更新详情</a><br><br>当前版本V{:EACOOPHP_V}', {
      icon:1,
      title:'新版本提醒',
      offset: '100px',
      btn: ['查看更新','以后提醒'],
    }, function(){
        redirect('http://forum.eacoo123.com/t/updating');
    }, function(){
      $.ajax({
            type: 'get',
            url: "{:url('admin/tools/version')}",
            success: function (res) {
                layer.closeAll();
            }
        });
       
    });
  {/present}
  
});

</script>
  </body>
</html>