<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{$meta_title|default=''}|{:config('web_site_title')}后台管理</title>   
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css">
   {load href="__ADMIN_CSS__/AdminLTE.min.css,__ADMIN_CSS__/_all-skins.min.css,__PUBLIC__/css/base.css,__ADMIN_CSS__/style.css,__STATIC__/libs/iCheck/all.css" /}
  
    {block name="style"}{/block}
    <script type="text/javascript" src="__PUBLIC__/js/jquery-1.10.2.min.js"></script>    
    <script type="text/javascript">
        var ThinkPHP = window.Think = {
            "ROOT": "{$Request.domain}", //当前网站地址
            "APP": "__APP__", //当前项目地址
            "PUBLIC": "__PUBLIC__", //项目公共目录地址
            "UPLOADSURL" :'/uploads/',
        }
    </script>
</head>
<body class="hold-transition skin-blue">
<div class="iframe-wrapper">
  <section class="content" style="margin: 0 10px;">
    <div class="row">
    {block name="main"}{/block}
    </div>
  </section>
</div>
<script type="text/javascript" src="__PUBLIC__/js/bootstrap.min.js"></script>
<script type="text/javascript" src="__STATIC__/libs/iCheck/icheck.min.js"></script>

{block name="script"}{/block}
<!-- <script type="text/javascript" src="__PUBLIC__/js/jquery.pjax.js" ></script> -->
<!-- <script type="text/javascript" src="__ADMIN_JS__/common.js" ></script> -->

<script type="text/javascript">
$(function(){
  /*复选框操作*/
   $('input').iCheck({
      checkboxClass:'icheckbox_minimal-blue',
      radioClass:'iradio_minimal-blue',
      increaseArea:'20%' // optional
    });
    //Enable check and uncheck all functionality
    $(".checkbox-toggle,.check-all").click(function () {
      var clicks = $(this).data('clicks');
      if (clicks) {
        //Uncheck all checkboxes
        $("input[type='checkbox']").iCheck("uncheck");
        $(".fa", this).removeClass("fa-check-square-o").addClass('fa-square-o');
      } else {
        //Check all checkboxes
        $("input[type='checkbox']").iCheck("check");
        $(".fa", this).removeClass("fa-square-o").addClass('fa-check-square-o');
      }
      $(this).data("clicks", !clicks);
    });
    //复选框方式
  $(".checkbox-toggle .iCheck-helper").click(function () {
    var all_checked=$('.checkbox-toggle>div.icheckbox_minimal-blue').hasClass('checked');
    if (!all_checked) {
      $("input[type='checkbox']").iCheck("uncheck");
    }else{
      $("input[type='checkbox']").iCheck("check");
    }
  });
  });
</script>
  </body>
</html>