  <aside class="main-sidebar sidebar-wrapper">

    <section class="sidebar" id="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
         <img src="{$current_user.avatar|root_full_path|default='/static/assets/img/default-avatar.svg'}" class="img-circle" alt="">
        </div>
        <div class="pull-left info">
          <p><a href="{:url('admin/User/profile',['uid'=>$current_user['uid']])}">{$current_user.nickname}</a></p>
          <i class="fa fa-circle text-success"></i> [<span class="loginout f12">退出</span>]
        </div>
      </div>
      <ul class="sidebar-menu">
      <li class="header">MAIN NAVIGATION</li>
         {volist name="sidebar_menus" id="vo"}
              <li class="{notempty name="vo._child"}treeview{/notempty}">
                  {present name="vo"}
                  <a href="{notempty name="vo._child"}#{else/}{:url($vo['name'])}{/notempty}" {empty name="vo._child" }class="opentab" tab-name="navtab-collapse-{$vo.id}"{/empty}>
                      <i class="fa {$vo.icon|default='fa-circle-o'}"></i>
                        <span>{$vo.title}</span>
                        {notempty name="vo._child"}<i class="fa fa-angle-left pull-right"></i>{/notempty}
                    </a>
                  {/present}
                  {notempty name="vo._child"}
                    <ul class="treeview-menu">
                      {volist name="vo._child" id="v"}
                           {empty name="v._child"}
                            <li ><a href="{:eacoo_url($v['name'],[],$v['depend_type'])}" class="opentab" tab-name="navtab-collapse-{$v.id}"><i class="fa {$v.icon|default='fa-circle-o'}"></i> {$v.title}</a> </li>
                            {else/}
                             <li ><a href="{:eacoo_url($v['name'],[],$v['depend_type'])}" class="opentab" tab-name="navtab-collapse-{$v.id}"><i class="fa {$v.icon|default='fa-circle-o'}"></i> {$v.title} <i class="fa fa-angle-left pull-right"></i></a>
                               <ul class="treeview-menu">
                                {volist name="v._child" id="_v"}
                                  <li><a href="{:eacoo_url($_v['name'],[],$v['depend_type'])}" class="opentab" tab-name="navtab-collapse-{$_v.id}"><i class="fa fa-circle-o"></i> {$_v.title}</a></li>
                                {/volist}                 
                             </ul>
                              </li>
                            {/empty}
                      {/volist}                 
                   </ul>
                   {/notempty}
              </li>
          {/volist}

        <li class="header">LABELS</li>
        <li><a href="http://forum.eacoo123.com" target="_blank"><i class="fa fa-circle-o text-red"></i> <span>交流社区</span></a></li>
        <li><a href="https://www.kancloud.cn/youpzt/eacoo" target="_blank"><i class="fa fa-circle-o text-yellow"></i> <span>开发文档</span></a></li>
        <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>联系我们</span></a></li>
      </ul>
    </section>

<!--     <section class="sidebar-sub-nav">
        <div class="menu-items" style="display: none;">
          {volist name="sidebar_menus" id="vo"}
                {notempty name="vo._child"}
                <div data-pid="{$vo.id}" class="menu-item-box" id="menu-{$vo.id}">
                  <ul>
                    {volist name="vo._child" id="v"}
                         {empty name="v._child"}
                          <li ><a href="{:url($v['name'])}" ><i class="fa fa-circle-o"></i> {$v.title}</a> </li>
                          {else/}
                           <li ><a href="{:url($v['name'])}" ><i class="fa fa-circle-o"></i> {$v.title} <i class="fa fa-angle-left pull-right"></i></a>
                             <ul >
                              {volist name="v._child" id="_v"}
                                <li><a href="{:url($_v['name'])}" ><i class="fa fa-circle-o"></i> {$_v.title}</a></li>
                              {/volist}                 
                           </ul>
                            </li>
                          {/empty}
                    {/volist}                 
                 </ul>
                 </div>
                 {/notempty}
            {/volist}
        </div>
      </section> -->
  </aside>
