{php} if(\Think\Hook::get('adminEditor') && MODULE_NAME == 'admin'){{/php}
    <label class="textarea">
        <textarea name="{$name}" id="{$id}">{$default}</textarea>
        {:hook('adminEditor', array('id'=>$id,'value'=>$default))}
    </label>

{php}}elseif(\think\Hook::get('editor')){{/php}

<label class="textarea">
    <textarea name="{$name}" id="{$id}">{$default}</textarea>
    {:hook('editor', array('id'=>$id,'value'=>$default))}
</label>

{php}}else{

    $path_type = isset($field['upload_config']['path_type'])? $field['upload_config']['path_type']:'picture';

{/php}
{if condition="$param['importWangEditor']"}
    <!-- <link rel="stylesheet" type="text/css" href="__STATIC__/libs/wangeditor/wangEditor.min.css"> -->
    <style type="text/css">
        .wangEditor-menu-container .menu-group{padding: 0 2px;}
        .wangEditor-container .content{min-height: auto;}
        .modal{z-index: 10002;}
        .wangEditor-menu-container .menu_attachment{color:#3bb4f2!important;cursor: pointer;}
    </style>
    <script type="text/javascript" src="__STATIC__/libs/wangeditor/wangEditor.min.js"></script>
    <!-- <script type="text/javascript" src="__STATIC__/libs/wangeditor/js/custom-menu.js"></script> -->
{/if}
<div id="{$id}_editor">{$default}</div>
<textarea id="{$id}" name="{$name}" style="display: none;width:{$width};height:{$height};{$style}"></textarea>

<!--这里引用jquery和wangEditor.js-->
<script type="text/javascript">
    var E = window.wangEditor
    var editor_{$id} = new E('#{$id}_editor')
    var $textarea_{$id} = $('#{$id}')
    editor_{$id}.customConfig.onchange = function (html) {
        // 监控变化，同步更新到 textarea
        $textarea_{$id}.val(html)
    }
    {notempty name="menus"}
        editor_{$id}.customConfig.menus =[{$menus}];//配置工具菜单
    {else/}
        editor_{$id}.customConfig.menus ="";
    {/notempty}
    // 配置自定义表情，在 create() 之前配置
    // editor_{$id}.customConfig.emotions = {
    //     // 支持多组表情
    //     // 第一组，id叫做 'default' 
    //     'default': {
    //         title: '默认',  // 组名称
    //         type: 'image',
    //         content: '__STATIC__/libs/wangeditor/emotions/default.data'
    //     },
    //     // 第二组，id叫做'weibo'
    //     'weibo': {
    //         title: '微博表情',  // 组名称
    //         type: 'image',
    //         content: '__STATIC__/libs/wangeditor/emotions/weibo.data'
    //     }
    //     // 下面还可以继续，第三组、第四组、、、
    // };
    editor_{$id}.customConfig.zIndex = 10;
    editor_{$id}.customConfig.uploadImgShowBase64 = true   // 使用 base64 保存图片
    editor_{$id}.customConfig.uploadImgServer = "{:url('admin/attachment/upload',['path_type'=>$path_type,'uploadtype'=>'picture','upload_from'=>'wangeditor'])}";  // 上传图片到服务器
    // 限制一次最多上传 5 张图片
    editor_{$id}.customConfig.uploadImgMaxLength = 5
    editor_{$id}.customConfig.uploadFileName = 'wangEditorFile'
    editor_{$id}.customConfig.uploadImgParams = {
        uploadtype: 'image',
        upload_from:'wangeditor'//请求来源
    };
    // 通过 url 参数配置 debug 模式。url 中带有 wangeditor_debug_mode=1 才会开启 debug 模式
    editor_{$id}.customConfig.debug = location.href.indexOf('wangeditor_debug_mode=1') > 0;
    editor_{$id}.create();
    // 初始化 textarea 的值
    $textarea_{$id}.val(editor_{$id}.txt.html());

    var attachmentModal_url ="{:url('admin/Attachment/attachmentLayer',['input_id_name'=>$id,'path_type'=>$path_type,'select_type'=>'multiple','from'=>'wangeditor'])}";//附件选择器地址
     
    function setAttachmentWangeditorVal{$id}(data){
            editor_{$id}.$txt.append(data);
            layer.closeAll('iframe');
      }  
</script>

{php}}{/php}