{extend name="$_theme_public_layout"/}
{block name="style"}

{/block}

{block name="main"}

  <div class="content-wrapper">
       <div class="container">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <ol class="breadcrumb">
          {$page_config.breadcrumbs|default=''}
        </ol>
      </section>

      <!-- Main content -->
      <section class="content">
        <div class="row">
          <div class="col-md-9">

              <div class="box box-default">
              <div class="box-header with-border">
                <h3 class="box-title">{$info.title}</h3>
                <!-- /.box-tools -->
                <div class="box-tools pull-right">
                  
                </div>
              </div>
              <div class="box-body">
                <p><span class="meta meta-time"><i class="fa fa-time"></i> {$info.create_time|strtotime|friendly_date}</span></p>
                <hr>
                <p>{$info.content}</p>
                
              </div>
              <div class="box-footer">
                  {:hook('comment',['id'=>$info['id'],'comment_object'=>'posts'])}
              </div><!-- box-footer -->
            </div>

        </div>
          <div class="col-md-3">
            {include file="sidebar" /}  
          </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  <!-- /.content-wrapper -->

{/block}

{block name="script"}
 
{/block}
