<extend name="$_home_public_layout"/>

<block name="style">
    <style type="text/css">
        /* 新闻资讯 */
        .news ul li {
            padding: 5px 0;
        }

        /* 合作伙伴 */
        .partner img {
            width: 100%;
            height:60px;
            margin-bottom:15px;
            border: 1px solid #eee;
        }

        /* 友情链接 */
        .friendly_link {
            min-height: 100px;
            margin-top: 20px;
            margin-bottom: 10px;
        }
        .friendly_link .list-unstyled {
            padding: 10px 0;
        }
        .friendly_link .list-unstyled li a {
            margin-right: 15px;
        }
    </style>
</block>

<block name="main">
    <div class="container">
        <!-- 资讯 -->
        <div class="row">
            <div class="col-xs-12 col-sm-6 news">
                <h3>新闻资讯 <small>／News</small></h3>
                <ul class="list-unstyled">
                    <cms:article_list name="vo" cid="$_index_cate['a']" limit="8">
                        <li>
                            <a class="text-muted" href="{$vo.href}">
                                <i class="fa {$vo.icon}"></i>
                                <span>{$vo.title|cut_str=0,20}</span>
                                <span class="pull-right visible-lg">{$vo.create_time|time_format}</span>
                            </a>
                        </li>
                    </cms:article_list>
                </ul>
            </div>

            <div class="col-xs-12 col-sm-6 news">
                <h3>通知公告 <small>／Notice</small></h3>
                <ul class="list-unstyled">
                    <cms:notice_list name="vo" limit="8">
                        <li>
                            <a target="_blank" class="text-muted" href="{$vo.href}">
                                <i class="fa {$vo.icon}"></i>
                                <span>{$vo.title|cut_str=0,20}</span>
                                <span class="pull-right visible-lg">{$vo.create_time|time_format}</span>
                            </a>
                        </li>
                    </cms:notice_list>
                </ul>
            </div>
        </div>

        <!-- 合作伙伴 -->
        <div class="row partner">
            <div class="col-xs-12 col-sm-12">
                <h3>合作伙伴 <small>／Partner</small></h3>
                <div class="row">
                    <cms:friendly_link name="fl2" type="2">
                        <div class="col-xs-4 col-sm-2">
                            <a rel="external nofollow" target="_blank" href="{$fl2.url}">
                                <img class="img-responsive" src="{$fl2.logo|get_image}">
                            </a>
                        </div>
                    </cms:friendly_link>
                </div>
            </div>
        </div>

        <!-- 友情链接 -->
        <div class="row friendly_link">
            <div class="col-xs-12 col-sm-12">
                <h3>友情链接 <small>／Link</small></h3>
                <ul class="list-unstyled list-inline">
                    <cms:friendly_link name="fl1" type="1">
                        <li><a rel="external nofollow" target="_blank" href="{$fl1.url}">{$fl1.title}</a></li>
                    </cms:friendly_link>
                </ul>
            </div>
        </div>
    </div>
</block>
