{extend name="public/base"/}
{block name="style"}
<style type="text/css">
    .updatenow {
        padding: 10px 25px;
        background: #0db252;
        color: white;
    }
    .updatenow:hover {
        background: #4db986;
        color: white;
    }
</style>
{/block}

{block name="main"}
<div class="box box-default">
    <div class="box-header with-border">
        <h3 class="box-title">系统信息</h3>
    </div>
    <div class="box-body">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td>
                        当前框架版本：{:EACOOPHP_V}
                    </td>
                </tr>
                <tr>
                    <td>
                        当前构建版本：{:BUILD_VERSION}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


{present name="eacoo_version"}
    <div class="box box-default" style="border-top: 3px solid #73ff8b;">
        <div class="box-header with-border" style="background: #00a65a;">
            <h3 class="box-title" style="color: white;">可更新版本</h3>
        </div>
        <div class="box-body">
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <td>
                        更新框架版本：{$eacoo_version.version}
                    </td>
                </tr>
                <tr>
                    <td>
                        更新构建版本：{$eacoo_version.build_version}
                    </td>
                </tr>
                <tr>
                    <td>
                        更新描述：
                        <pre>{$eacoo_version.description}</pre>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <a href="{:url('admin/OnlineUpdate/updateNow')}" class="updatenow">
            立即更新
        </a>
    </div>
{/present}

{/block}

{block name="script"}
<script type="text/javascript">

</script>
{/block}