  <extend name="Public/base"/>
  <block name="style">
    <!--此页面增加的style-->
    <link type="text/css" rel="stylesheet" href="__ADMIN_CSS__/nav.css"/>
  </block>

  <block name="body">
<div class="nav-warp">

      <div class="row mt-20">
             <div class="col-sm-3">                                             
                  <select class="form-control">
                    <option value="1">一级菜单</option>
                    <option value="2">二级菜单</option>
                    <option value="3">三级菜单</option>
                 </select>
                  
             </div>
             <a class="btn btn-info btn-sm" href='#'>添加菜单</a>
         </div>
   <div class="ud-lead"> 
         
    <div class="tc ud-martop-10">
       <button type="submit" class="btn btn-primary submit ajax-post">保存</button>
    </div>
<!-- 弹窗 -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog mt-90 mb-90" role="document">
    <div class="modal-content">
      <div class="modal-body bg-color-fff">
         <div class="row mb-20 tc">
            <h5 class="col s12 color-26 f18">添加子菜单</h5>
         </div>
          <!-- <div class="row">
            <form class="col-sm-12"> -->
              <div class="row">
                    <div class="input-group col-sm-12">                       
                          <div class="form-group is-empty">
                            <input type="text" class="form-control col-md-8" placeholder="Search">
                          <span class="material-input"></span></div>                        
                    </div>
                    <div class="input-group col-sm-12">                     
                          <div class="form-group is-empty">
                            <input type="text" class="form-control col-md-8" placeholder="Search">
                          <span class="material-input"></span></div>                     
                    </div>
                    <div class="input-group col-sm-12">                      
                          <div class="form-group is-empty">
                            <input type="text" class="form-control col-md-8" placeholder="Search">
                          <span class="material-input"></span></div>                      
                    </div>
                </div>
              <div class="row modal-select">
                 <div class=" col-sm-4 pl0 pr0">
                    <select class="browser-default btn bxshadow">
                        <option value="1">菜单分类</option>
                        <option value="2">父级菜单</option>
                        <option value="3">页面</option>
                     </select>
                  </div>
              </div>
              <div class="row modal-select">
                 <div class=" col-sm-4 pl0 pr0">
                    <select class="browser-default btn bxshadow">
                        <option value="1">菜单分类</option>
                        <option value="2">父级菜单</option>
                        <option value="3">页面</option>
                     </select>
                  </div>
              </div>
              <div class="row modal-select">
                 <div class=" col-sm-4 pl0 pr0">
                    <select class="browser-default btn bxshadow">
                        <option value="1">菜单分类</option>
                        <option value="2">父级菜单</option>
                        <option value="3">页面</option>
                     </select>
                  </div>
              </div>
           <!--  </form>
                   </div> -->
       <div class="tc pt10 pb20">
            <button type="submit" class="radius ud-button bg-color-orange2 ud-shadow">添加</button>
       </div>
      </div>
    </div>
  </div>
</div> 
</div>
</div>
  </block>

  <block name="script">
<!--此页面增加的script-->
<script>

</script>
  </block>