 {include file="../apps/admin/view/builder/Fields/text.html"/}			{// 文本 } 
 {include file="../apps/admin/view/builder/Fields/number.html"/}			{// 数字 }
 {include file="../apps/admin/view/builder/Fields/info.html"/}			{// 提示 } 
 {include file="../apps/admin/view/builder/Fields/section.html"/}		{// 分割 } 
 {include file="../apps/admin/view/builder/Fields/date.html"/}			{// 日期 } 
 {include file="../apps/admin/view/builder/Fields/datetime.html"/}		{// 时间 }  
 {include file="../apps/admin/view/builder/Fields/hidden.html"/}			{// 隐藏 } 
 {include file="../apps/admin/view/builder/Fields/password.html"/}		{// 密码 } 
 {include file="../apps/admin/view/builder/Fields/left_icon_text.html"/} {//左图标文本 }
 {include file="../apps/admin/view/builder/Fields/right_icon_text.html"/}{//右图标文本 }
 {include file="../apps/admin/view/builder/Fields/left_icon_number.html"/}{//左图标数字 }
 {include file="../apps/admin/view/builder/Fields/right_icon_number.html"/}{//右图标数字 }
 {include file="../apps/admin/view/builder/Fields/textarea.html"/}		{// 内容编辑框 }
 {include file="../apps/admin/view/builder/Fields/ueditor.html"/}		{// 富文本编辑框 }
 {include file="../apps/admin/view/builder/Fields/wangeditor.html"/}		{// 富文本编辑框 }
 {include file="../apps/admin/view/builder/Fields/radio.html"/}			{// 单选框 } 
 {include file="../apps/admin/view/builder/Fields/checkbox.html"/}		{// 复选框 } 
 {include file="../apps/admin/view/builder/Fields/select.html"/}			{// 下拉框 } 
 {include file="../apps/admin/view/builder/Fields/select2.html"/}		{// select2下拉框 } 
 {include file="../apps/admin/view/builder/Fields/select_multiple.html"/}{// 多选下拉框 } 
 {include file="../apps/admin/view/builder/Fields/tags.html"/}			{// 标签 } 
 {include file="../apps/admin/view/builder/Fields/multilayer_select.html"/}{// 多层级下拉框 } 
 {include file="../apps/admin/view/builder/Fields/email.html"/}			{// 邮箱 } 
 {include file="../apps/admin/view/builder/Fields/region.html"/}			{// 地区 } 
 {include file="../apps/admin/view/builder/Fields/city.html"/}			{// 城市 } 
 {include file="../apps/admin/view/builder/Fields/icon.html"/}			{//图标 } 
 {include file="../apps/admin/view/builder/Fields/avatar.html"/}			{//头像 } 
 {include file="../apps/admin/view/builder/Fields/picture.html"/}		{// 图片 } 
 {include file="../apps/admin/view/builder/Fields/pictures.html"/}		{//多图片 } 
 {include file="../apps/admin/view/builder/Fields/image.html"/}		{// 图片(无弹窗) } 
 {include file="../apps/admin/view/builder/Fields/file.html"/}			{// 文件 } 
 {include file="../apps/admin/view/builder/Fields/files.html"/}			{// 多文件 } 
 {include file="../apps/admin/view/builder/Fields/repeater.html"/}		{// 灵活字段表 }
 {include file="../apps/admin/view/builder/Fields/self.html"/}			{// 自定义表单内容 } 
  {include file="../apps/admin/view/builder/Fields/self_html.html"/}		{// 自定义html } 