{extend name="public/base"/}
{block name="style"}
  <style type="text/css">

  </style>
{/block}

{block name="main"}
<section class="content pt-5">
  <!--此页面主体内容-->
  <div class="dashboard-container">
  <div class="row">
     {:hook('AdminIndex')}
      <div class="col-md-7">
        <div class="box box-default">
          <div class="box-header with-border">
            <h3 class="box-title">系统信息</h3>

            <div class="box-tools pull-right">
              <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
              </button>
            </div>
            <!-- /.box-tools -->
          </div>
           <div class="box-body">
              <table class="table table-bordered">
                <tbody>
                  {volist name="server_info" id="info" key="i" mod="2"}
                      {eq name="mod" value="0"}<tr>{/eq}
                      <td>{$key}：<span style="font-weight:normal!important;">{$info}</span></td>
                        {if condition="$i eq count($server_info)"}</tr>
                      {else/}
                        {eq name="mod" value="1"}</tr>{/eq}
                      {/if}
                  {/volist}
                </tbody>
              </table>
           </div>
                 
        </div>
      </div>  

      <div class="col-md-5">
        <div class="box">
          <div class="box-header">
            <h3 class="box-title">官方动态</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body pt-0" id="eacoo_news">
            <table class="table table-condensed f14">
              <tbody>
              {volist name="eacoo_news_list.data" id="row"}
                  <tr>
                    <td><a href="{$row.href}" target="_blank">{$row.title}</a></td>
                  </tr>
              {/volist}
              </tbody>
            </table>
          </div>
          <!-- /.box-body -->
        </div>
      </div>
    </div> 

  </div>
</section>
{/block}

{block name="script"}
<script type="text/javascript">
  $(function(){ 
    //驱动提示
    {php}if(config('attachment_options.driver')=='local' || !config('attachment_options.driver')){{/php}
      var eacooadmin_localdriver_tip = sessionStorage.getItem('eacooadmin_localdriver_tip');
      if (eacooadmin_localdriver_tip!=1) {
          parent.layer.alert('欢迎使用EacooPHP系统，请优先配置/开启 上传驱动（Tip:前往插件市场安装对象存储服务插件） ，让您的数据更安全可靠，数据掌握在自己手中。<br/>如因未配置/开启 对象云存储服务，造成的数据丢失，由您自行负责！！快去配置吧~<br/>', {icon: 6,btn: ['去配置','不再提醒'],
          yes: function(index, layero){
            parent.layer.closeAll();
            redirect('{:url("admin/config/attachmentoption")}');
          },
          btn2: function(index, layero){
              var storage_data = 1;
              sessionStorage.setItem('eacooadmin_localdriver_tip',storage_data);
          }}); 
      }
      
    {php}}{/php}
  })
</script>
{/block}