{extend name="$_admin_public_layerbase_"/}
{block name="style"}

{/block}
{block name="main"}
<div class="col-md-11" style="padding: 20px;border-radius:3px;">      
    <form action="{$post_url}" method="post" class="app-form form-horizontal">
        <fieldset>
          <input type="hidden" id="action_url" name="action_url" value="{$post_url}">
            {volist name="fieldList" id="field" key="k"}
                {php}if(!in_array($field['type'],['hidden','group','section','self_html'])){{/php}
                <div class="form-group item_{$field.name|default=''} {$field.extra_class|default=''}">
                    <label for="{$field.name|default=''}" class="col-md-2 control-label">{$field.title|default=""}</label>
                    <div class="{$field.extra.field_body_class|default='col-md-4'}" {$field.extra.field_body_extra|default=''}>
                    {:action('common/BuilderForm/fieldType',['field'=>$field],'builder')}
                    </div>
                    {notempty name="field.description"}
                        <div class="{$field.extra.field_help_block_class|default='col-md-5'} help-block"><i class="fa fa-info-circle color-info1"></i> {$field.description|default=""}</div>
                    {/notempty}
                </div>
                {php}}else{{/php}
                    {:action('common/BuilderForm/fieldType',['field'=>$field],'builder')}
                {php}}{/php}
            {/volist}
        </fieldset>
    </form>
</div> 
{/block}

{block name="script"}
{/block}