{extend name="$_admin_public_base_"/}
{block name="style"}
  <style type="text/css">
    .theme-item{padding:10px;}
    .block-content{background-color: #f5f5f5!important;margin:0 10px;border-radius: 3px;color: #666;border:1px solid #f0f0f0;}
    .theme-cover img{height: 230px;}
    .theme-logo {width: 100%;}
    .block-content h3{font-size: 16px;margin: 0 auto;padding: 20px 0;margin-bottom: 15px;color: #656565;border-bottom: 1px solid #d5d5d5;position: relative;white-space: nowrap;text-align: center;}
    .block-content h3::before {
        content: '';
        bottom: -10%;
        background: #ccc;
        left: 43%;
        width: 10px;
        height: 10px;
        position: absolute;
        border-radius: 50%;
    }

    .block-content h3::after {
        content: '';
        bottom: -10%;
        background: #ccc;
        right: 43%;
        width: 10px;
        height: 10px;
        position: absolute;
        border-radius: 50%;
    }

    .item-metas,.item-description{padding:0 10px;line-height: 26px;color: #888;}
    .item-description{font-size: 13px;}
  </style>
{/block}
{block name="main-top"}
<div class="row extension-tab">
    <div class="col-md-3 col-sm-6 col-xs-12">
      <a href="{:url('admin/modules/index')}">
      <div class="info-box">
        <span class="info-box-icon bg-aqua"><img src="__ADMIN_IMG__/extension/module.svg" width="64"></span>

        <div class="info-box-content color-5">
          <span class="info-box-text fb">模块</span>
          <span class="info-box-number"></span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
      </a>
    </div>
    <!-- /.col -->
    <div class="col-md-3 col-sm-6 col-xs-12">
      <a href="{:url('admin/plugins/index')}" >
        <div class="info-box">
          <span class="info-box-icon bg-green"><img src="__ADMIN_IMG__/extension/plugin.svg" width="64"></span>
          <div class="info-box-content color-5">
            <span class="info-box-text fb">插件</span>
            <span class="info-box-number"></span>
          </div>
          <!-- /.info-box-content -->
        
      </div></a>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-md-3 col-sm-6 col-xs-12">
      <a href="{:url('admin/theme/index')}" >
      <div class="info-box">
        <span class="info-box-icon bg-yellow color-palette"><img src="__ADMIN_IMG__/extension/theme.svg" width="64"></span>

        <div class="info-box-content color-5">
          <span class="info-box-text fb">主题</span>
          <span class="info-box-number"></span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
      </a>
    </div>
    <!-- /.col -->
  </div>
  <!-- <div class="box box-solid">
    <div class="box-header with-border">
      <h3 class="box-title">温馨提示</h3>

      <div class="box-tools">
        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
        </button>
      </div>
    </div>
    <div class="box-body no-padding">
      <ul class="nav nav-pills nav-stacked">
        
      </ul>
    </div>
  </div> -->
{/block}
{block name="main"} 
    <div class="builder-tabs builder-form-tabs">
        <ul class="nav nav-tabs">
            {volist name="tab_list" id="tab"}
                <li class="{php}if($from_type == $key) echo 'active';{/php}"><a href="{$tab.href}" {$tab.extra_attr|default=''}>{$tab.title}</a></li>
            {/volist}
        </ul>
        <div class="form-group"></div>
    </div>
    <div class="builder-toolbar mt-10 oh">
       <div class="col-xs-12 col-sm-12 button-list clearfix">
          <button class="btn btn-info btn-sm " id="app-localupload"><i class="fa fa-cloud-upload"></i> 本地安装</button>
          <a class="btn btn-success btn-sm ajax-get" href="{:url('admin/Theme/refresh')}"><i class="fa fa-refresh"></i> 刷新缓存</a>
          <a title="取消多主题支持" class="btn btn-primary btn-sm ajax-get" href="{:url('admin/Theme/cancel')}"> 取消多主题支持</a>
          <button class="btn btn-default btn-sm" id="eacoo-userinfo" ><i class="fa fa-user"></i> 会员信息</button>
      </div>
    </div>

    <div class="builder formbuilder-box panel-body">

    <div class="row">    
      {notempty name="data_list"}
        {foreach name="data_list" item="row"}
          <div class="col-md-4 theme-item"> 
            <div class="block-content">     
                <div class="theme-cover view-app-detail" data-name="{$row.name}" data-type="theme" style="cursor: pointer;">{$row.logo|default=''}</div>
                <h3>{$row.title}</h3>
                <div class="item-metas"><span class="meta-author"><i class="fa fa-user"></i> {$row.author}</span><span class="meta-author text-success pull-right">{$row.status|default=''}</span></div>
                <div class="item-description">{$row.description}</div>
                <div class="ml-10 mt-10 mb-10">{$row.right_button|default=''}</div>
              </div>
          </div>
        {/foreach}
      {else/}
        <div class="tc no-found">
          <p>暂无主题，请前往<a href="{:url('index',['from_type'=>'oneline'])}">主题市场</a>下载</p>
        </div>
      {/notempty}
   </div><!--row-->
 </div>

{/block}

{block name="script"}
<script type="text/javascript" src="__ADMIN_JS__/eacoo.extension.js" ></script>
<link href="__LIBS__/webuploader/css/webuploader.css" type="text/css" rel="stylesheet">
<script type="text/javascript" src="__LIBS__/webuploader/js/webuploader.min.js"></script>
<script>
    //本地上传(分开写为了好控制)
    $(function () {
        appLocalInstall('theme');
    })
</script>
{/block}