	{php}
      $importDatetimePicker = 1;
      if (strpos($field['name'],'[')) {
          $field['id']=str_replace(']','',str_replace('[','',$field['name']));
        }else{
          $field['id']=$field['name'];
        }
  {/php}

<input type="date" class="datepicker form-control" name="{$field.name}" id="{$field.id}" value="{notempty name='field.value'}{$field.value|time_format='Y-m-d'}{/notempty}" {$field.extra_attr|default=''}>

   <script type="text/javascript">
      $(function(){
          $('#{$field.name}').datetimepicker({
              format      : 'yyyy-mm-dd',
              autoclose   : true,
              todayBtn    : 'linked',
              language    : 'zh-CN',
              fontAwesome : true
          });
      });
  </script>
    <link href="__LIBS__/datetimepicker/datetimepicker.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="__LIBS__/datetimepicker/datetimepicker.min.js"></script>