{php}
    $importDatetimePicker = 1;
      if (strpos($field['name'],'[')) {
        $field['id']=str_replace(']','',str_replace('[','',$field['name']));
      }else{
        $field['id']=$field['name'];
      }
{/php}
<input type="text" id="{$field.id}" class="form-control input time" name="{$field.name}" value="{notempty name='field.value'}{$field.value}{/notempty}" {$field.extra_attr|default=''}>
<script type="text/javascript">
    $(function(){
        $('#{$field.id}').datetimepicker({
            format      : 'yyyy-mm-dd hh:ii:ss',
            autoclose   : true,
            todayBtn    : 'linked',
            language    : 'zh-CN',
            fontAwesome : true
        });
    });
</script>
<link href="__LIBS__/datetimepicker/datetimepicker.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="__LIBS__/datetimepicker/datetimepicker.min.js"></script>