<div class="form-group item_{$field.name} {$field.extra_class|default=''}">
    <label for="{$field.name}" class="col-md-2 control-label">{$field.title}</label>
    <div class="col-md-4">
        <div class="input-group">
        	<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
	        <input type="email" class="form-control" name="{$field.name}" value="{$field.value|default=''}" placeholder='填写Email' {$field.extra_attr}>
        </div>
    </div>
    {notempty name="field.description"}<div class="col-md-5 help-block"><i class="fa fa-info-circle color-info1"></i> {$field.description}</div>{/notempty}
</div>