
{php}
      if (strpos($field['name'],'[')) {
        $field['id']=str_replace(']','',str_replace('[','',$field['name']));
      }else{
      	$field['id']=$field['name'];
      }
      $repeater_attributes = [
        'id'      => $field['id'],
        'name'    => $field['name'],
        'default' => isset($field['value'])? $field['value']:'',
        'options' => isset($field['options']['options']) ? $field['options']['options'] : '',
      ];
      $repeater_param = isset($field['options']['param']) ? $field['options']['param'] : '';
{/php}

{notempty name="field.description"}<p class="help-block">{$field.description}</p>{/notempty}
{:widget('common/Repeater/render',[$repeater_attributes,$repeater_param])}
