
<div class="form-group item_{$field.name} {$field.extra_class|default=''}">
    <label for="{$field.name}" class="col-md-2 control-label">{$field.title|htmlspecialchars}</label>
    <div class="col-md-4">
    	<div class="input-group">
        	<input type="text" class="form-control" name="{$field.name}" value="{present name="field.value"}{$field.value|htmlspecialchars}{/present}" {$field.extra_attr|default=''}>
            <span class="input-group-addon">{$field.options.icon}</span>
        </div>

    </div>
    {notempty name="field.description"}<div class="col-md-5 help-block"><i class="fa fa-info-circle color-info1"></i> {$field.description}</div>{/notempty}
</div>
