{extend name="public/base"/}
{block name="main"}
<h2 class="text-center">完成</h2>
<div class="row">
	<div class="col-sm-6">
		<ul class="list-group">
			<li class="list-group-item"><a href="http://www.eacoo123.com" target="_blank">EacooPHP官网</a></li>
			<li class="list-group-item"><a href="https://gitee.com/ZhaoJunfeng/EacooPHP.git" target="_blank">EacooPHP版本库</a></li>
		</ul>
	</div>
	<div class="col-sm-6">
		<ul class="list-group">
			<li class="list-group-item"><a href="https://www.kancloud.cn/youpzt/eacoo?token=eJFSYAfcWX" target="_blank">EacooPHP开发文档</a></li>
			<li class="list-group-item"><a href="http://forum.eacoo123.com" target="_blank">EacooPHP交流社区</a></li>
		</ul>
	</div>
</div>
<div class="row text-center">
	<h2>加入官方讨论群</h2>
	<p>QQ群：436491685</p>
	<div class="col-sm-12 ">
		<img src="http://img.eacoomall.com/images/static/EacooPHP-qq-qrcode1.png" title="" alt="EacooPHP-qq-qrcode">
	</div>
</div>
<hr>
<div class="margin-top">
	<div class="text-center">
	    <a class="btn btn-primary" target="_blank" href="{:BASE_PATH}/admin.php">登录后台</a>
	    <a class="btn btn-success" target="_blank" href="{:BASE_PATH}/">访问首页</a>
	</div>
</div>
{/block}