{extend name="public/base"/}
{block name="main"}
<h1 class="text-center">完成</h1>
<div class="row">
	<div class="col-sm-6">
		<ul class="list-group">
			<li class="list-group-item"><a href="http://www.eacoo123.com" target="_blank">EacooPHP官网</a></li>
			<li class="list-group-item"><a href="http://git.oschina.net/ZhaoJunfeng/EacooPHP" target="_blank">EacooPHP版本库</a></li>
			<li class="list-group-item"><a href="http://wpa.qq.com/msgrd?v=3&uin=981248356&site=qq&menu=yes" target="_blank">系统定制</a></li>
		</ul>
	</div>
	<div class="col-sm-6">
		<ul class="list-group">
			<li class="list-group-item"><a href="http://www.eacoo123.com" target="_blank">EacooPHP开发文档</a></li>
			<li class="list-group-item"><a href="http://forum.eacoo123.com" target="_blank">EacooPHP讨论社区</a></li>
			<li class="list-group-item"><a href="//shang.qq.com/wpa/qunwpa?idkey=ea67e9307a02f4c80eb65d45b23f46929be6dc715dea87a994454631340728ca" target="_blank">开发交流群549057660</a></li>
		</ul>
	</div>
</div>
<div class="margin-top">
	<div class="text-center">
	    <a class="btn btn-primary" target="_blank" href="__ROOT__/admin.php?s=/admin/index/login">登录后台</a>
	    <a class="btn btn-success" target="_blank" href="__ROOT__/">访问首页</a>
	</div>
</div>
{/block}