{extend name="public/base"/}
{block name="main"}
<h2 class="text-center">
	创建数据库
</h2>
<form method="post" target="_self">
	<div class="create-database">
		<h2>
			数据库连接信息
		</h2>
		<table class="table-hover table">
			<input type="hidden" name="db[type]" value="mysql" >
			<tr>
				<td width="360">
					<input class="form-control input-sm" name="db[hostname]" type="text" value="127.0.0.1" />
				</td>
				<td>
					<span>
						数据库服务器，数据库服务器IP，一般为127.0.0.1，使用localhost可能导致网站速度变慢
					</span>
				</td>
			</tr>
			<tr>
				<td width="360">
					<input class="form-control input-sm" name="db[database]" type="text" value="eacoophp" />
				</td>
				<td>
					<span>
						数据库名
					</span>
				</td>
			</tr>
			<tr>
				<td width="360">
					<input class="form-control input-sm" name="db[username]" type="text" value="root" />
				</td>
				<td>
					<span>
						数据库用户名
					</span>
				</td>
			</tr>
			<tr>
				<td width="360">
					<input class="form-control input-sm" name="db[password]" type="password" value="" />
				</td>
				<td>
					<span>
						数据库密码
					</span>
				</td>
			</tr>
			<tr>
				<td width="360">
					<input class="form-control input-sm" name="db[hostport]" type="text" value="3306" />
				</td>
				<td>
					<span>
						数据库端口，数据库服务连接端口，一般为3306
					</span>
				</td>
			</tr>
			<tr>
				<td width="360">
					<input class="form-control input-sm" name="db[prefix]" type="text" value="{:config('original_table_prefix')}" class="form-control" />
				</td>
				<td>
					<span>
						数据表前缀，同一个数据库运行多个系统时请修改为不同的前缀
					</span>
				</td>
			</tr>
		</table>
	</div>
		<div class="create-database">
		<h2>
			网站配置
		</h2>
		<table class="table-hover table">
			<tr>
				<td width="360">
					<input class="form-control input-sm" name="webconfig[web_site_title]" type="text" value="EacooPHP快速开发框架" />
				</td>
				<td>
					<span>
						网站名称
					</span>
				</td>
			</tr>
			<tr>
				<td width="360">
					<input class="form-control input-sm" name="webconfig[index_url]" type="text" value="{$Request.domain}" />
				</td>
				<td>
					<span>
						网站域名
					</span>
				</td>
			</tr>
			<tr>
				<td width="360">
					<input class="form-control input-sm" name="webconfig[web_site_description]" type="text" value="开源框架 EacooPHP ThinkPHP" />
				</td>
				<td>
					<span>
						关键词
					</span>
				</td>
			</tr>
			<tr>
				<td width="360">
					<input class="form-control input-sm" name="webconfig[web_site_keyword]" type="text" value="EacooPHP是基于ThinkPHP5开发的一套轻量级WEB产品开发框架，追求高效，简单，灵活。" />
				</td>
				<td>
					<span>
						描述
					</span>
				</td>
			</tr>
		</table>
		</div>

	<div class="create-database">
		<h2>
			创始人帐号信息
		</h2>
		<table class="table-hover table">
			<tr>
				<td width="360">
					<input class="form-control input-sm" name="admin[admin_username]" type="text" value="admin" /> 
				</td>
				<td>
					<span>
						用户名(
						<span class="text-danger">
							英文+数字，严禁中文与特殊字符
						</span>
						)
					</span>
				</td>
			</tr>
			<tr>
				<td width="360">
					<input class="form-control input-sm" name="admin[admin_password]" type="text" value="123456" />
				</td>
				<td>
					<span>
						密码
					</span>
				</td>
			</tr>
			<tr>
				<td width="360">
					<input class="form-control input-sm" name="admin[admin_repassword]" type="text" value="123456" / >
				</td>
				<td>
					<span>
						确认密码
					</span>
				</td>
			</tr>
			<tr>
				<td width="360">
					<input class="form-control input-sm" name="admin[admin_email]" type="text" value="admin@admin.com" />
				</td>
				<td>
					<span>
						邮箱，请填写正确的邮箱便于收取提醒邮件
					</span>
				</td>
			</tr>
		</table>
	</div>
</form>
<div class="margin-top">
	<div class="text-center">
		<button class="btn btn-primary" id="submit" onclick="$('form').submit();return false;" type="button">下一步</button>
		<a class="btn btn-default" href="{:url('install/index/check')}">上一步</a>
	</div>
</div>
{/block}
